<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.infs3634">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:supportsRtl="true"
        android:theme="@style/Theme.INFS3634"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value= "${MAPS_API_KEY}"/>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".plant.ReserveActivity"
            android:exported="true"/>

        <activity
            android:name=".plant.PlantDetailActivity"
            android:exported="true"/>

        <activity
            android:name=".plant.PlantPageActivity"
            android:exported="true"/>

        <activity
            android:name=".plant.QRScanActivity"
            android:exported="true" />

        <activity
            android:name=".quiz.QuizActivity"
            android:exported="false"/>

        <activity
            android:name=".quiz.QuizStartPage"
            android:exported="true"/>

        <activity
            android:name=".timeline.TimelineActivity"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <activity
            android:name=".location.MapViewActivity"
            android:exported="true" />



        <activity
            android:name=".AcknowledgePageActivity"
            android:exported="true" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


    </application>

</manifest>